<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="EndpointUri" value="https://br-16848-cosmos.documents.azure.com:443/" />
        <add key="PrimaryKey" value="fSMcCQED3lUiGK0qbG9wNG3BXoTZ88rgZ0SwRIvUxFtB8eKICmvr6eaGXtAVtr41xN51rbREm8oWvIEeZ68DzQ==" />
    </appSettings>
</configuration>