<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="CosmosDBConnectionSetting" value="AccountEndpoint=https://bikesharing-9138-cosmos.documents.azure.com:443/;AccountKey=FnQ3SBk5W1ShAZNgE1AnYWx9C7NUnWZzXOLK3ZMvCy4AgGJ4c24wMjwW9KXhp3tjORXkODS57h3AMSP07YDwag==;" />
        <add key="PrimaryKey" value="" />
    </appSettings>
</configuration>